# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.mypy_cache/

# Django
backend/media/
backend/staticfiles/

# Node / Next
node_modules/
frontend/.next/
frontend/out/

# Env
.env
backend/.env
frontend/.env

# OS / editors
.DS_Store
.vscode/
